@use "../base/mixins" as *;

.About {
    @include flexbox(flex, center, center);
    padding: 2rem;
    flex-direction: column;
        .about-img {
            height: 200px;
        }

    .about-text {
        text-align: justify;
    }
}

@media (min-width: 768px) {
    .About {
        flex-direction: row;
        .about-text {
            margin-left: 2rem;
        }
    }
}