@use "../base/mixins" as *;

.Header {
    width: 100%;
    @include flexbox(flex, space-between, center);
    padding: 0.5rem 1rem;
    border-bottom: 2px solid #000;

    position: fixed;
    background-color: #fff;
    z-index: 10;
    margin-top: 0;
    #logo {
        height: 3.5rem;
    }
}