@use "../base/mixins" as *;
@use "../base/_colors" as *;

.Header {
    width: 100%;
    @include flexbox(flex, space-between, center);
    padding: 0.5rem 1rem;
    border-bottom: 2px solid #000;

    position: fixed;
    background-color: #fff;
    z-index: 10;
    margin-top: 0;
    #logo {
        height: 3.5rem;
    }

    nav {
        @include flexbox(flex, center, center);
        gap: var(--gap, 2rem);
        .mobile-nav-toggle-btn {
            display: none;
        }
        .primary-navigation {
            @include flexbox(flex, center, center);
        gap: var(--gap, 2rem);
            text-transform: lowercase;
            background-color: hsl(0 0% 100% / 0.9);
    
            li{
                position: relative;
                cursor: pointer;
                font-weight: 700;
            }
            li .img-hover-underlined {
                display: none;
                position: absolute;
                bottom: -20px; 
                left: 50%;
                transform: translateX(-50%);
                width: 70px;
                
            }
            li:hover .img-hover-underlined {
                display: block;
            }
        
        }
        .icon-navbar-btn {
            width: 40px;
            height: 40px;
            border-radius: 99px;
            border: none;
            @include flexbox(flex, center, center);
            margin-left: -20px;
    
            img {
                height: 1.5rem;
                
            }
    
            &:hover {
                background-color: $gray;
            }
        
        }
    
        .container-cart-products {
            right: -3rem;
            padding: 0.5rem;
            min-width: 250px;
            .cart-product-item {
                @include flexbox(flex, space-between, center);
                .cart-product-info {
                   
                    .cart-product-quantity, .cart-product-name {
                        color: rgba(#000, 0.5);
                        display: inline;
                        margin-right: 1rem;
                    }
                }
                .cart-product-img {
                    margin-left: 2rem;
                    img {
                        height: 40px;
                    }
                }
            }

            .cart-total, .cart-empty {
                width: 100%;
                text-align: center;
            }

            .cart-empty {
                color: rgba(#000, 0.5);
                margin: 0 auto;
                
            }
        }
    }
}

@media (max-width: 35em) {
    .Header {
        border: none;
        nav {
            .mobile-nav-toggle-btn {
                display: block;
                
                background-size: contain;
                background-repeat: no-repeat;
                
                width: 2rem;
                aspect-ratio: 1;
                top: 1rem;
                right: 1rem;
                
                z-index: 999999;
                
                border: none;
                cursor: pointer;
                span {
                    display: none;
                }
            }
    
            .primary-navigation {
                --gap: 3rem;
        
                position: fixed;
                inset: 0 0 0 40%;
    
                border-left: 2px solid #000;
        
                flex-direction: column;
                padding: min(30vh, 10rem) 2rem;
        
                z-index: 1000;
    
                transform: translateX(100%);
                transition: transform 0.3s ease-in-out;
    
                li:hover .img-hover-underlined {
                    display: none;
                } 
            }
    
            .primary-navigation.open {
                transform: translateX(0);
            }
        }
    }
}