@use "../base/mixins" as *;

.hero {
    @include flexbox(flex, space-evenly, center);
    padding: 0 1rem;
    flex-direction: column;
    width: 100%;
    padding: 1rem;

    .title {
        position: relative;
        margin: 3rem 0;

        h1 {
            white-space: pre;
            line-height: 2;    
        }

        .circle-img {
            position: absolute;
            bottom: 90px;
            width: 125px;
            height: 70px;
            right: 35px;
        }

        .underlined-img {
            position: absolute;
            bottom: 20px;
            width: 125px;
            right: 10px;
        }

        .arrow-img {
            display: none;
        }
    }


    .polaroid-img {
        width: 300px;
    } 
    
    
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        padding: 3rem 1rem 3rem 0 ;
        .title {
            .circle-img {
                right: 40px;
                width: 140px;
                bottom: 110px;
                
            }

            .underlined-img {
                width: 150px;

            }

            .arrow-img {
                display: block;
                position: absolute;
                height: 150px;
                left: 100px;
            }
        }

        .polaroid-img {
            width: 350px;
            
        } 
    }
}