@use "../base/mixins" as *;

.hero {
    @include flexbox(flex, space-evenly, center);
    padding: 0 1rem;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    //height: 80vh;
    
    .title {
        position: relative;
        h1 {
            white-space: pre;
            line-height: 2;
            
        }

        .circle-img {
            position: absolute;
            bottom: 90px;
            width: 130px;
            height: 70px;
            right: 40px;
           
        }
    }


    img {
        margin-top: 2rem;
        width: 300px;
    } 
    
    
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;

        .title {
            .circle-img {
                right: 40px;
                width: 160px;
                bottom: 110px;
                
            }
        }

        img {
            width: 350px;
            margin-left: 1rem;
        } 
    }
}