
nav {
    #primary-navigation {
        display: flex;
        gap: 2rem;
        text-transform: uppercase;
        li{
            position: relative;
            height: 100%;
            cursor: pointer;
        }
        li .img-hover-underlined {
            display: none;
            position: absolute;
            bottom: -30px; 
            left: 50%;
            transform: translateX(-50%);
            width: 90px;
        }
        li:hover .img-hover-underlined {
            display: block;
        }
    }
    
}