@use "../base/mixins" as *;
@use "../base/colors" as *;

.Products {
    margin: 7rem 2rem 2rem 2rem; //Height of the header


    .options-container {
        margin-bottom: 1rem;
        @include flexbox(flex, flex-start, center);
        .dropdown {
            position: relative;
            .dropdown-toggle-btn .img-btn {
                margin-left: 0.5rem;
                height: 0.6rem;
            }
            .dropdown-menu {
                position: absolute;
                top: calc(100% + 2px);
                left: 0;
                z-index: 2;

                min-width: 120px;

                background-color: #fff;

                border: 1px solid #000;
                border-bottom: 2px solid #000;
                border-right: 2px solid #000;
                border-radius: 0 10px 10px 10px;
                li {
                    font-size: 1rem;
                    text-transform: lowercase;

                    width: 100%;
                    padding: 0.5rem;

                    border-radius: 0 10px 10px 10px;

                    cursor: pointer;

                    &:hover {
                        background-color: $gray;
                    }
                    
                    a {
                        width: 100%;
                    }
                }
            }
        }

        .filter-by-price {
            p {
                margin: 0 0.5rem 0 1rem;
                float: left;
                text-transform: lowercase;
                
            }
        }
    }

    .products-container {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
        gap: 2rem;
        .card {
            position: relative;
            button {
                @include flexbox(flex, center, center);
                float: left;
            }
        
            .best-seller {
                position: absolute;
                right: 10px;
                top: 10px;
    
                background-color: $action;
                color: #fff;
    
                padding: 0.2rem 0.4rem;
                border-radius: 5px;
    
                font-size: 0.9rem;
                
                margin: 0;
                
            }
        }
    }
           
}

@media (min-width: 796px) {
    .Products {
        .main-container {

            @include flexbox(grid, center, start);
            grid-template-columns: 200px 1fr;
            .options-container {
                flex-direction: column;
                align-items: start;
    
                .filter-by-price {
                    p, button {
                        margin: 1rem 0.5rem 0 0;
                    }
                }
            }
    
            .products-container{
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            }
        }
    }
}