@use "../base/mixins" as *;
@use "../base/colors" as *;

.Products {
    margin-left: 2rem; 
    margin-right: 2rem; 

    h2 {
        margin-bottom: 0.5rem;
    }

    .selected-options-container {
        display: flex;
        margin: 1rem 0;
        li {
            margin-right: 1rem;
            padding: 0.2rem 0.5rem;
            background-color: $gray;
            border-radius: 10px;
            text-transform: lowercase;
            float: left;

            .delete-btn {
                background-color: $gray;
                float: right;
            }
        }
    }

    .options-container {
        margin-bottom: 1rem;
        @include flexbox(flex, flex-start, center);
        
        .dropdown-menu {
            top: calc(100% + 2px);
            left: 0;
        }

        .filter-by-price {
            p {
                margin: 0 0.5rem 0 1rem;
                float: left;
                text-transform: lowercase;

                
            }
        }
    }

    .products-container {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        .card {
            position: relative;
            
            .price {
                width: fit-content;
                float: left;
            }

            .cart-btn {
                float: right;
            }

            .wishlist-btn {
                position: absolute;
                top: 10px;
                right: 10px;

                border: none;
                background-color: transparent;

                img {
                    height:1.5rem;
                }

                &:hover {
                    border-radius: 50%;
                    box-shadow: 5px 5px 40px #bdbdbd;
                }

                
            }
        
            .best-seller {
                position: absolute;
                left: 10px;
                top: 10px;
    
                background-color: $action;
                color: #fff;
    
                padding: 0.2rem 0.4rem;
                border-radius: 5px;
    
                font-size: 0.9rem;
                
                margin: 0;
                
            }
        }
    }
           
}

@media (min-width: 796px) {
    .Products {
      .main-container {
        display: grid;
        grid-template-columns: 200px 1fr; 
        grid-template-rows: auto auto; 
  
        .empty-cell {
          grid-column: 1 / 2;
          grid-row: 1 / 2; 
        }
  
        .selected-options-container {
          grid-column: 2 / 3;
          grid-row: 1 / 2; 
          width: 100%; 
        }
  
        .options-container {
          grid-column: 1 / 2; 
          grid-row: 2 / 3;
          flex-direction: column;
          align-items: start;
  
          .filter-by-price {
            p, button {
              margin: 1rem 0.5rem 0 0;
            }
          }
        }
  
        .products-container {
          grid-column: 2 / 3; 
          grid-row: 2 / 3; 
        }
      }
    }
  }