@use "../base/mixins" as *;
@use "../base/colors" as *;

.SelectedProducts {
    background-color: rgba($action, 0.5);
    padding: 2rem;
    

    .cards-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
        .card {
            margin: 0 0.5rem; // lateral margin of 0.5rem for a total of 1rem space between cards
            .info-card {
                .price {
                    float: left;
                }
                button {
                    float: right;
                }
            }
        }
    }
    
      
    .slick-slide {
        padding: 0 0.5rem; // adds lateral padding to create space between slides
    }
      
    .slick-list {
        margin: 0 -0.5rem; // adjusts the margin of the carousel container
    }
    
}