@use "../base/mixins" as *;

.Skills {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    h2 {
        text-align: center;
    }
    .skills-container {
        padding: 2rem;
        @include flexbox(grid, center, center);
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 40px;
        div {
            background-color: rgb(255, 255, 255);
            text-align: center;
            border: 2px solid black;
            border-radius: 5px;
        }
    }

}