@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #000;
}
.Header #logo {
  height: 3.5rem;
}

nav .mobile-nav-toggle-btn {
  display: none;
}
nav .primary-navigation {
  display: flex;
  gap: var(--gap, 2rem);
  text-transform: lowercase;
  background-color: hsla(0, 0%, 100%, 0.9);
}
nav .primary-navigation li {
  position: relative;
  cursor: pointer;
  font-weight: 700;
}
nav .primary-navigation li .img-hover-underlined {
  display: none;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
}
nav .primary-navigation li:hover .img-hover-underlined {
  display: block;
}

@media (max-width: 35em) {
  nav .mobile-nav-toggle-btn {
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 1rem;
    z-index: 999999;
    border: none;
    cursor: pointer;
  }
  nav .mobile-nav-toggle-btn span {
    display: none;
  }
  nav .primary-navigation {
    --gap: 3rem;
    position: fixed;
    inset: 0 0 0 40%;
    border-left: 2px solid #000;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  nav .primary-navigation li:hover .img-hover-underlined {
    display: none;
  }
  nav .primary-navigation.open {
    transform: translateX(0);
  }
}
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.hero .title {
  position: relative;
  margin: 3rem 0;
}
.hero .title h1 {
  white-space: pre;
  line-height: 2;
}
.hero .title .circle-img {
  position: absolute;
  bottom: 90px;
  width: 125px;
  height: 70px;
  right: 35px;
}
.hero .title .underlined-img {
  position: absolute;
  bottom: 20px;
  width: 125px;
  right: 10px;
}
.hero .title .arrow-img {
  display: none;
}
.hero .polaroid-img {
  width: 300px;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    padding: 3rem 1rem 3rem 0;
  }
  .hero .title .circle-img {
    right: 40px;
    width: 140px;
    bottom: 110px;
  }
  .hero .title .underlined-img {
    width: 150px;
  }
  .hero .title .arrow-img {
    display: block;
    position: absolute;
    height: 150px;
    left: 100px;
  }
  .hero .polaroid-img {
    width: 350px;
  }
}
.Skills {
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
  background-color: rgb(221, 221, 221);
}
.Skills .skills-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.Skills .skills-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  min-width: 100px;
}
.Skills .skills-container div img {
  height: 70px;
}

@media (min-width: 768px) {
  .Skills .skills-container div img {
    height: 100px;
  }
}
.About {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}
.About .about-img {
  height: 200px;
}
.About .about-text {
  text-align: justify;
}

@media (min-width: 768px) {
  .About {
    flex-direction: row;
  }
  .About .about-text {
    margin-left: 2rem;
  }
}
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-top: 2rem;
  border-top: 2px solid #000;
}
.Footer .socialmedia-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.Footer .socialmedia-footer div {
  height: 3rem;
  aspect-ratio: 1;
  background-size: cover;
}
.Footer .socialmedia-footer .icon-linkedin {
  background-image: url("./img/Linkedin-icon.PNG");
}
.Footer .socialmedia-footer .icon-linkedin:hover {
  background-image: url("./img/Linkedin-icon-hover.PNG");
}
.Footer .socialmedia-footer .icon-github {
  background-image: url("./img/Github-icon.PNG");
}
.Footer .socialmedia-footer .icon-github:hover {
  background-image: url("./img/Github-icon-hover.PNG");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}

.App {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

main {
  flex: 1;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-transform: lowercase;
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0.2em 0;
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  padding: 0.4rem;
  border-radius: 5px;
}

.sr-only {
  display: none;
}

p {
  max-width: 900px;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.6;
  }
}

/*# sourceMappingURL=index.css.map */
