@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #000;
  position: fixed;
  background-color: #fff;
  z-index: 10;
  margin-top: 0;
}
.Header #logo {
  height: 3.5rem;
}

nav .mobile-nav-toggle-btn {
  display: none;
}
nav .primary-navigation {
  display: flex;
  gap: var(--gap, 2rem);
  text-transform: lowercase;
  background-color: hsla(0, 0%, 100%, 0.9);
}
nav .primary-navigation li {
  position: relative;
  cursor: pointer;
  font-weight: 700;
}
nav .primary-navigation li .img-hover-underlined {
  display: none;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
}
nav .primary-navigation li:hover .img-hover-underlined {
  display: block;
}

@media (max-width: 35em) {
  nav .mobile-nav-toggle-btn {
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 1rem;
    z-index: 999999;
    border: none;
    cursor: pointer;
  }
  nav .mobile-nav-toggle-btn span {
    display: none;
  }
  nav .primary-navigation {
    --gap: 3rem;
    position: fixed;
    inset: 0 0 0 40%;
    border-left: 2px solid #000;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  nav .primary-navigation li:hover .img-hover-underlined {
    display: none;
  }
  nav .primary-navigation.open {
    transform: translateX(0);
  }
}
.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
  background-image: url("img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.Hero figure img {
  height: 80px;
  position: absolute;
}
.Hero figure img:first-child {
  right: 0.5rem;
}
.Hero figure img:nth-child(2) {
  top: 200px;
  left: 5rem;
}
.Hero figure img:nth-child(3) {
  height: 60px;
  top: 600px;
  left: 1rem;
}
.Hero figure img:last-child {
  height: 30px;
  top: 100px;
  right: 2rem;
}

@media (min-width: 768px) {
  .Hero figure img {
    height: 120px;
  }
  .Hero figure img:first-child {
    right: 8rem;
  }
  .Hero figure img:nth-child(2) {
    top: 200px;
    left: 5rem;
  }
  .Hero figure img:nth-child(3) {
    height: 80px;
    top: 600px;
    left: 5rem;
  }
  .Hero figure img:last-child {
    height: 60px;
    top: 100px;
    right: 5rem;
  }
}
@media (min-width: 1200px) {
  .Hero figure img {
    height: 200px;
  }
  .Hero figure img:nth-child(3) {
    height: 160px;
    top: 600px;
    left: 10rem;
  }
  .Hero figure img:last-child {
    height: 120px;
    right: 30rem;
  }
}
.Products {
  margin: 7rem 2rem 2rem 2rem;
}
.Products h2 {
  margin-bottom: 0.5rem;
}
.Products .options-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Products .options-container .dropdown {
  position: relative;
}
.Products .options-container .dropdown .dropdown-toggle-btn .img-btn {
  margin-left: 0.5rem;
  height: 0.6rem;
}
.Products .options-container .dropdown .dropdown-menu {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  z-index: 2;
  min-width: 120px;
  background-color: #fff;
  border: 1px solid #000;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  border-radius: 0 10px 10px 10px;
}
.Products .options-container .dropdown .dropdown-menu li {
  font-size: 1rem;
  text-transform: lowercase;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0 10px 10px 10px;
  cursor: pointer;
}
.Products .options-container .dropdown .dropdown-menu li:hover {
  background-color: #e2e1e1;
}
.Products .options-container .dropdown .dropdown-menu li a {
  width: 100%;
}
.Products .options-container .filter-by-price p {
  margin: 0 0.5rem 0 1rem;
  float: left;
  text-transform: lowercase;
}
.Products .products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
.Products .products-container .card {
  position: relative;
}
.Products .products-container .card button {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
.Products .products-container .card .best-seller {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #A6545A;
  color: #fff;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  font-size: 0.9rem;
  margin: 0;
}

@media (min-width: 796px) {
  .Products .main-container {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 200px 1fr;
  }
  .Products .main-container .options-container {
    flex-direction: column;
    align-items: start;
  }
  .Products .main-container .options-container .filter-by-price p, .Products .main-container .options-container .filter-by-price button {
    margin: 1rem 0.5rem 0 0;
  }
  .Products .main-container .products-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-top: 2rem;
  border-top: 2px solid #000;
}
.Footer .socialmedia-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.Footer .socialmedia-footer div {
  height: 3rem;
  aspect-ratio: 1;
  background-size: cover;
}
.Footer .socialmedia-footer .icon-linkedin {
  background-image: url("./img/Linkedin-icon.PNG");
}
.Footer .socialmedia-footer .icon-linkedin:hover {
  background-image: url("./img/Linkedin-icon-hover.PNG");
}
.Footer .socialmedia-footer .icon-github {
  background-image: url("./img/Github-icon.PNG");
}
.Footer .socialmedia-footer .icon-github:hover {
  background-image: url("./img/Github-icon-hover.PNG");
}

button {
  border: 1px solid #000;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  border-radius: 0;
  cursor: pointer;
  font-size: 1rem;
  text-transform: lowercase;
  letter-spacing: 0.03rem;
  gap: 8px;
}
button .img-btn {
  height: 1rem;
}
button:hover {
  background-color: #e2e1e1;
}
button.btn-action {
  background-color: rgba(166, 84, 90, 0.6);
}
button.btn-action:hover {
  background-color: rgba(166, 84, 90, 0.7);
}
button:first-of-type {
  margin-right: 0.5rem;
}

.toggle-btn {
  background-color: #e2e1e1;
  border: 1px solid #000;
  border-bottom: 2px solid #000;
  border-radius: 99px;
  width: 50px;
  height: 30px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4039215686);
  position: relative;
}
.toggle-btn .thumb {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}
.toggle-btn.toggled {
  background-color: rgba(166, 84, 90, 0.6);
}
.toggle-btn.toggled .thumb {
  left: 25px;
}

.SelectedProducts {
  background-color: rgba(166, 84, 90, 0.5);
  padding: 2rem;
}
.SelectedProducts .cards-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.SelectedProducts .cards-container .card {
  margin: 0 0.5rem;
}
.SelectedProducts .slick-slide {
  padding: 0 0.5rem;
}
.SelectedProducts .slick-list {
  margin: 0 -0.5rem;
}

.card {
  background-color: #e2e1e1;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 10px;
  padding: 1rem;
}
.card figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card figure img {
  width: 100%;
}
.card .info-card .shipping {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.5);
}
.card .info-card h3 {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: left;
}
.card .info-card .price {
  text-align: left;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}
.card:hover {
  box-shadow: 5px 5px 40px #bdbdbd;
  transition: 0.1s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

main {
  flex: 1;
  min-height: 100vh;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  padding: 0.4rem;
  border-radius: 5px;
}

.sr-only {
  display: none;
}

p {
  max-width: 900px;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.6;
  }
}

/*# sourceMappingURL=index.css.map */
