@use "_colors" as *;
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html {
    scroll-behavior: smooth;
  }

body {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}

.App {
  //max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

main {
  flex: 1;
  min-height: 100vh;
  margin-top: 7rem; //Height of the header
  
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 1.6;
  max-width: 900px;
}

a, a:active, a:visited, a:hover{
  text-decoration: none;
  color: #000;
}

ul{
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  padding: 0.4rem;
  border-radius: 5px;
}

.sr-only {
  display: none;
}


@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.6;
  }
}